<h2>LivingQuarters</h2>
<br>

<div class="notice">
  <%= login_error %>
</div>

<br>
<div id="form">
  <%= render partial: 'login_form' %>
</div>
<p>
  <%= form_tag new_host_path, method: :get do %>
  <%= submit_tag "Create an Account" %>
  <% end %>
  <br>
  or
  <br>
</p>
  <div>
  <%= link_to('Log in with Facebook', '/auth/facebook') %>
  </div>
