<h2><%= @location.name %></h2>
<br>
<div class="subtext">
<h3><%= @location.location %></h3>
<%= @location.description %>
</div>
<br>
<br>
<strong><em>LivingQuarters Host already signed up:</em></strong>
<br>
<% @location.hosts.uniq.each do |host| %>
  <%= host.name %>
  <br>
<% end %>
<br>
<br>
<p style="text-align:center;">
  <%= link_to "View #{@location.name} Attractions", location_attractions_path(@location) %>
</p>
