<p style="text-align:center;"><%= link_to "Add New Attraction", new_attraction_path %>
</p>
<br>
<h4>Search by attraction name:</h4>
<%= form_tag(attractions_path, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>

<br>
<% attractions.each do |attraction| %>
    <p>
      <%= link_to "#{attraction.name}", attraction_path(attraction) %>

      <br>
      <br>


      <br>
      <%= attraction.description %>
      <br>
      <span style="font-size:14px;">Enjoyment Rating: <%= attraction.assignments.average(:rating) %></span>
      <br>
      <em>Day of the week of when Attraction will be held(which may alter program): <%= attraction.day %></em>
      <br>
      <br>
      <em><%= link_to "#{attraction.location.name}", location_path(attraction.location) %></em>
      <br>
      <br>
    </p>
  <br>
<% end %>
